:root{
    --ajoutRem: 3.9rem; // date, titre : 6.76, popularité : 3.9
    --couleurChevron: #fff;
    --couleurFondChevron: #901c1c;
}

*:focus {
    outline-color: black;
    outline-width: 1px;
    outline-style: dotted; }
    
body {
    align-items: center;
    font-family: "DM Sans", sans-serif;
    margin: auto;
    position: relative;
    width: 1200px;
}

#retourMain {
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    position: fixed;
    background-color: $couleurSecondaire;
    padding: 5px 7px;
    border-radius: 5px;
    top: 5%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    z-index: 100;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
    width: 80%;
    height: 5em;
}

#logoFisheye {
    width: 12em;
}

#filtres {
    width: 100%;
    align-items: center;
    text-align: center;
}

.spanFiltres {
    border-radius: 1em;
    padding: .3em;
    color: $couleurPrimaire;
    border: 1px solid lightgray;
    font-weight: bolder;
    font-size: .7rem;
    cursor: pointer;

    &:hover {
        border: 1px solid #555;
    }
}

#main {
    margin-top: 2rem;
    columns: 3;
    column-gap: 12%;
    justify-content: center;
    flex-wrap: wrap;
}

#titre {
    font-size: 2.2em;
    font-weight: 400;
    color: $couleurPrimaire;
    text-align: right;
    position: absolute;
    top: .6em;
    right: 1%;

    &:hover {
        cursor: pointer;
    }
}

// Faux-Select : début
#trier {
    font-size: 1.1rem;
    font-weight: bold;

    label {
        position: relative;
        bottom: 1.5rem;
    }
    .faux-select {
        list-style-type: none;
        padding: 1.5rem 0;
        padding-bottom: 1.5rem;
        background-color: $couleurPrimaire;
        color: white;
        text-align: left;
        border-radius: 5px;
        cursor: pointer;
        font-family: "DM Sans", sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        margin-left: 1.5rem;
        width: 10.5rem;
        display: inline-block;
        position: relative;
        user-select: none;
        z-index: 1;
        outline-offset: 5px;

        span {
            outline-offset: -10px;
        }
        span:hover { // Car cet ouline n'est pas esthétique pour les voyants
            outline: none;
        }
        li {
            padding: 0;
            text-indent: 1em;
            position: relative;
            z-index: 3;
            outline-offset: -10px;
            .options {
                display: block;
                box-shadow: 0px 5px 10px grey;
                border-radius: 0 0 5px 5px;
                list-style-type: none;
                padding: 0;
                margin: .8rem 0 0 0.2rem;
                background: transparent;
                position: absolute;
                width: 100%;
                max-height: 0;
                overflow: hidden;
                top: 1.2em;
                left: -0.17em; // Hmmm... nombre magique à l'équilibre entre chrome et Firefox...
                transition: all ease 0.25s;
                li {
                    padding: 1.4rem 0;
                    &:hover {
                        background: $couleurSecondaire;
                    }
                }

                &.open {
                    background: $couleurPrimaire;
                    max-height: 850%;
                }
            }
        }

        .testDiv {
            height: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
            position: absolute;
            top: -1rem;
            border-radius: 5px 5px 0px 0px;
            z-index: -1; // Sinon la oculeur de fond recouvre le chevron
            :hover {
                background: $couleurSecondaire;
            }
            
            span {
                padding: 1.3rem;
                padding-bottom: 1.25rem;
                margin-left: -2.1rem;
                padding-right: calc(var(--ajoutRem));
                border-radius: 5px 5px 5px 5px;
            }
        }
    }

    .borderBottom:before {
        content: "";
        position: absolute;
        left: 10px;
        bottom: 0;
        height: 15px;
        width: 87%;
        border-bottom: 1px solid white;
    }

    .borderTop:after {
        content: "";
        position: absolute;
        left: 10px;
        top: 0;
        height: 15px;
        width: 87%;
        border-top: 1px solid white;
    }

    .chevron,
    .chevronOpen {
        // inspiration : https://stackoverflow.com/questions/15938933/creating-a-chevron-in-css
        display: block;
        height: 15px;
        /* hauteur ~2x l'épaisseur */
    }

    .chevron::before,
    .chevron::after,
    .chevronOpen::before,
    .chevronOpen::after {
        width: 0;   // Nécessaire ...
        height: 0;  // ... pour Firefox
        position: absolute;
        float: right;
        right: 1rem;
        display: block;
        content: "";
        border: 10px solid transparent;
        /* Taille du chevron */
    }

    .chevron::before {
        top: 0;
        border-top-color: var(--couleurChevron);
    }

    .chevron::after {
        top: -4px; // épaisseur
        border-top-color: var(--couleurFondChevron);
    }

    .chevronOpen::before {
        top: -10px;
        border-bottom-color: var(--couleurChevron);
    }

    .chevronOpen::after {
        top: -6px; // épaisseur
        border-bottom-color: var(--couleurFondChevron);
    }
}
// Faux-select : fin

.cartePhotographe {
    text-align: center;
    margin-bottom: 3rem;
    cursor:pointer;

    h2 {
        // Nom
        font-weight: 400;
        font-size: 2.2rem;
        color: $couleurSecondaire;
        margin-bottom: .5rem;
    }

    h3 {
        // lieu
        font-family: "DM sans";
        font-size: .77rem;
        font-weight: 500;
        color: $couleurPrimaire;
        margin-bottom: .4rem;
    }

    blockquote {
        // slogan
        font-size: .65em;
        margin-bottom: .4rem;
    }

    p {
        // prix
        font-size: .6rem;
        color: gray;
        margin-bottom: .5rem;
    }
}

.filtresPhotographes {
    display: flex;
    justify-content: center;
    gap: .4rem;
}

#carteBiographie {
    background-color: #fafafa;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 4rem 3rem;
    padding-bottom: 3rem;

    #blocBioContact {
        display: flex;
        flex-direction: row;
        max-width: 43%;
        h2 {
            // Nom
            font-weight: 400;
            font-size: 4rem;
            color: $couleurSecondaire;
            margin-bottom: .8rem;
        }

        h3 {
            // lieu
            font-family: "DM sans";
            font-size: 1.5rem;
            font-weight: 500;
            color: $couleurPrimaire;
            margin-bottom: 1.2rem;
        }

        blockquote {
            // slogan
            font-size: 1.15em;
            color: #525252;
            margin-bottom: 1.5rem;
        }

        #filtresProfil {
            .spanFiltres {
                margin-right: .5rem;
                font-size: 1.1rem;
                padding: 0 .4rem;
            }
        }
    }
}

.photoProfil {
    margin-top: 1rem;
    border-radius: 50%;
    box-shadow: 0px 5px 10px grey;
    cursor: pointer;
    height: 12em;
    width: 12em;
    object-fit: cover;
    transition: 400ms;

    &:hover {
        transform: scale(1.1);
        transition: 400ms;
    }
}

#planchePhotos {
    // Contient toutes les .cartePhoto
    display: inline-flex;
    flex-wrap: wrap;
    gap: 75px;
    margin-top: 2rem;
}

.cartePhoto {
    position: relative; // Nécessaire pour l'ajout d'une caméra sur les vidéos

    //width: 33.3%;
    figcaption {
        margin-top: 1rem;
        margin-bottom: -2rem;

        p {
            color: $couleurPrimaire;
            font-size: 1.3rem;
            font-weight: 500;
        }

        .coeurLikes {
            margin-left: .3rem;
            transition: transform .2s;

            &:hover {
                color: deeppink !important;
                transform: scale(1.2);
            }
        }
    }
    
    transition:all .4s;
    img {
        &:hover,
        &:focus {
            filter: drop-shadow(8px 8px 10px grey);
        }
    }
    
}

.play-icon {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-image: url("/img/icones/video-solid.svg");
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    opacity: .7;
    padding: .4rem;
    z-index: 1;
    width: 10%;
}

.photoPlanche {
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
    display: block;
    height: 350px;
    width: 350px;
}

.legendePhoto {
    color: $couleurPrimaire;
    display: flex;
    justify-content: space-between;

    .likes {
        display: flex;
    }
}

/* fenêtre flottante compteur likes */
footer {
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0px;
    right: -4rem;
    justify-content: space-around;
    background-color: #DB8876;
    color: black;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    margin-right: 10%;
    padding: 1rem;
    z-index: 1;
    width: 30%;
    max-width: 376px;
}


/* Début modale contact */
#modaleContact {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    form {
        height: auto;
        width: 669px;
        height: 900px;
        background-color: #DB8876;
        display: flex;
        flex-direction: column;
        padding: 2.2rem;
        padding-top: 1.5rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        box-shadow: 4px 17px 20px 1px black;

        .titreContact {
            font-size: 4rem;
            margin-bottom: .7rem;
        }

        div {
            color: white;
        }

        label {
            font-size: 2.2rem;
            margin-bottom: .5rem;
        }

        #nomContact {
            margin-bottom: 2rem;
        }

        input,
        textarea {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            padding: .9rem;
            margin-bottom: .5rem;
        }

        textarea {
            resize: none;
        }
    }
}

.centrage {
    margin: auto;
    text-align: center;
    padding-top: 50%;
}

#pFinal {
    font-size: 2.2rem;
    margin-top: 50%;
}

/* Fin modale contact */

/* Début modale Lightbox */

.icone {
    height: 2%;
    width: 2%;
    transition: transform .2s;

    &:hover {
        transform: scale(1.2);
    }

    &:focus {
        outline-offset: 10px;
    }
}

#overlayLightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    #modaleLightBox {
        max-width: 1250px;
        max-height: 1100px;
        display: none;
        background-color: white;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        #lbxFermeture {
            cursor: pointer;
            position: relative;
            //top: -200px;
            right: -90%;
            top: 0px;
            transform: translate(0, -1350%);
            img {
                height: 120%;
                width: 120%;
            }
        }

        #lbxPrecedent {
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 8%;
        }

        #lbxSuivant {
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 8%;
        }

        p {
            color: $couleurPrimaire;
            margin-top: 1rem;
            position: absolute;
            font-size: 1.45rem;
            font-weight: 500;
            width: 30rem;
        }
        
        #diaporama {
            width: 77%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            //padding-bottom: 100%;
            .diapo {
                display: block;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.15) 5px 0 2.6px;
                object-fit: cover;
                max-width: 1050px; //1050
                max-height: 900px; //900
                width: 100%;
                height: 150%;
                animation: animImages 500ms;
                //aspect-ratio: 1 / 1; // Expérimental : ne fonctionne pas sur bcp de navigateurs mobiles
            }
        }

        @keyframes animImages {
            from {
                opacity: 0;
            }
        
            to {
                opacity: 1;
            }
        }

        
    }
}

/* Fin modale lightbox */