body {
    align-items: center;
    font-family: "DM Sans", sans-serif;
    margin: auto;
    position: relative;
    width: 1200px;
}

#retourMain {
    color: black;
    cursor: pointer;
    //display: none;
    font-weight: 700;
    font-size: 18px;
    position: fixed;
    background-color: $couleurSecondaire;
    padding: 5px 7px;
    border-radius: 5px;
    top: 5%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    z-index: 100;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6em;
    width: 80%;
    height: 5em;
}

#logoFisheye {
    width: 12em;
}

#filtres {
    width: 100%;
    align-items: center;
    text-align: center;
}

.spanFiltres {
    border-radius: 1em;
    padding: .3em;
    //background-color: white;
    color: $couleurPrimaire;
    border: 1px solid lightgray;
    font-weight: bolder;
    font-size: .7rem;
    cursor: pointer;
}

#main {
    columns: 3;
    column-gap: 12%;
    //display: flex;
    //flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#titre {
    font-size: 2.2em;
    font-weight: 400;
    color: $couleurPrimaire;
    text-align: right;
    position: absolute;
    top: .6em;
    right: 1%;
}

.cartePhotographe {
    //align-items: center;
    //justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
    //background-color: red;
}

figure {
    //align-items: center;
    //justify-content: center;
}

figcaption {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    blockquote {
        font-weight: 800;
        font-size: .6rem;
        margin-bottom: .5rem;
    }
    p { // Prix
        color: gray;
        font-size: .5rem;
        margin-bottom: .5rem;
    }

    .filtresPhotographes {
        display: flex;
        justify-content: center;
        gap: .4rem;
    }
}

h2 {
    font-weight: 400;
    font-size: 2.2rem;
    color: $couleurSecondaire;
    margin-bottom: .5rem;
}

h3 {
    font-size: .8rem;
    color: $couleurPrimaire;
    margin-bottom: .4rem;
}

.photoProfil {
    border-radius: 50%;
    box-shadow: 0px 5px 25px grey;
    cursor: pointer;  
    width: 12em;
    height: 12em;
    object-fit: cover;
    margin-bottom: 30px;
    &:hover{
        transform: scale(1.1);
        transition: 400ms;
    }
}

/* Début modale */
#modaleContact {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    form {
        height: auto;
        width: 675px;
        background-color: #D3573C;
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        top: 115px;
        right: 160px;
        border-radius: 5px;
        box-shadow: 4px 17px 20px 1px black;
    }
}

/* Fin modale */