@media screen and (max-width: 1200px) {
    body {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #trier {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 1090px) {
    #logoFisheye {
        margin-left: 1em;
        margin-top: 2.5em;
        width: 9.5em;
    }

    #titre {
        font-size: 2em;
        text-align: right;
        position: absolute;
        top: 1em;
        right: 1em;
    }

    #filtres {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        margin-top: 10em;
        padding: 3em;
    }

    .spanFiltres {
        margin-top: 1em;
    }

    #planchePhotos {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    #main {
        margin-top: 6.5em;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
    }

    #titre {
        font-size: 1.5em;
        text-align: right;
        position: absolute;
        top: 2em;
        right: 1em;
    }

    #trier,
    footer {
        display: none;
    }

    #modal-btn {
        display: flex;
        justify-content: center;
        width: 12rem;
        height: 2.5rem;
        margin-bottom: 10%;
        padding: 5px 10px 5px 10px;
        position: fixed;
        top: unset;
        bottom: 0;
        left: calc((90% - 12rem) / 2);
        z-index: 1;
    }

    #conteneurPage {
        padding-bottom: 5rem;
    }

    .cartePhotographe {
        margin-bottom: 1em;
    }

    #carteBiographie {
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 0 1rem;
        padding-bottom: 0rem;

        #blocBioContact {
            display: flex;
            flex-direction: row;
            max-width: 69%;
    
            h2 {
                // Nom
                font-weight: 400;
                font-size: 2.2rem;
                color: $couleurSecondaire;
                margin-bottom: .4rem;
            }
    
            h3 {
                // lieu
                font-family: "DM sans";
                font-size: 1.1rem;
                font-weight: 500;
                color: $couleurPrimaire;
                margin-bottom: .6rem;
            }
    
            blockquote {
                // slogan
                font-size: .8em;
                color: #525252;
                margin-bottom: .8rem;
            }
    
            #filtresProfil {
                .spanFiltres {
                    margin-right: .5rem;
                    font-size: .75rem;
                    padding: 0 .2rem;
                }
            }
        }
        .photoProfil {
            position: absolute;
            right: 1rem;
            top: 5rem;
            height: 6.5rem;
            width: 6.5rem;
        }
    }
    .cartePhoto {
        figcaption {
            //margin-top: 1rem;
            margin-bottom: -3.5rem;
    
            p {
                color: $couleurPrimaire;
                font-size: .9rem;
                font-weight: 400;
            }
    
            .coeurLikes {
                margin-left: .3rem;
                transition: transform .2s;
    
                &:hover {
                    color: deeppink !important;
                    transform: scale(1.2);
                }
            }
        }
        
        transition:all .4s;
        .photoPlanche {
            width: 21.4rem;
            height: 11.8rem;
            &:hover,
            &:focus {
                filter: drop-shadow(8px 8px 10px grey);
            }
        }
    }

    /* Début modale contact */
    #modaleContact {
        form {
            width: 375px;
            height: 812px;
            margin-right: unset;
            padding: 1rem;
            padding-top: 2rem;
    
            .titreContact {
                font-size: 2.2rem;
            }
    
            div {
                color: white;
            }
    
            label {
                font-size: 1.5rem;
                margin-bottom: .5rem;
            }
    
            #nomContact {
                margin-bottom: 2rem;
            }
    
            input,
            textarea {
                border: none;
                border-radius: 5px;
                font-size: 2rem;
                padding: .9rem;
                margin-bottom: .5rem;
            }
    
            textarea {
                resize: none;
            }
        }
    
        .btn-submit {
            background-color: $couleurPrimaire;
            border: none;
            border-radius: 5px;
            color: white;
            font-family: "DM sans";
            font-size: 1.2rem;
            width: 50%;
            height: 2.5rem;
            margin-top: 1rem;
            margin-left: 25%;
          }
    
          /* Croix fermeture modale : début */
        #close {
            position: relative;
            right: unset;
            top: -1rem;
            left: 18rem;
        }
        #close:before,
        #close:after {
          height: 2rem;
          width: 4px;
        }
        /* Croix fermeture modale : fin */
    }
    
    .centrage {
        margin: auto;
        text-align: center;
        padding-top: 50%;
    }
    
    #pFinal {
        font-size: 2.2rem;
        margin-top: 50%;
    }
    
    /* Fin modale contact */
}

@media screen and (max-width: 600px) {
    #logoFisheye {
        width: 50%;
    }

    *:focus {
        outline-color: transparent;
    }
    /*
    #overlayLightbox {
        #modaleLightBox {
            #lbxFermeture {
                transform: translate(0, -1350%);
            }
        }
    }
    */
}

@media screen and (max-width: 500px) {
    /*
    #overlayLightbox {
        #modaleLightBox {
            #lbxFermeture {
                transform: translate(0, -1150%);
            }
        }
    }
    */
}

@media screen and (max-width: 400px) {
    header {
        margin-bottom: 2rem;
    }

    #titre {
        font-size: .85em;
        text-align: right;
        position: absolute;
        top: 4em;
        right: 1em;
    }
    /*
    #overlayLightbox {
        #modaleLightBox {
            #lbxFermeture {
                transform: translate(0, -850%);
            }
        }
    }
    */
}