@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  cursor: default;
}

a {
  color: black;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Croix fermeture modale : début */
#close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

#close:hover {
  background-color: red;
  border-radius: 4px;
}

#close:before,
#close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: blue;
}

#close:before {
  transform: rotate(45deg);
}

#close:after {
  transform: rotate(-45deg);
}

/* Croix fermeture modale : fin */
body {
  align-items: center;
  font-family: "DM Sans", sans-serif;
  margin: auto;
  position: relative;
  width: 1200px;
}

#retourMain {
  color: black;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  position: fixed;
  background-color: #d3573c;
  padding: 5px 7px;
  border-radius: 5px;
  top: 5%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  z-index: 100;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6em;
  width: 80%;
  height: 5em;
}

#logoFisheye {
  width: 12em;
}

#filtres {
  width: 100%;
  align-items: center;
  text-align: center;
}

.spanFiltres {
  border-radius: 1em;
  padding: 0.3em;
  color: #901c1c;
  border: 1px solid lightgray;
  font-weight: bolder;
  font-size: 0.7rem;
  cursor: pointer;
}

#main {
  columns: 3;
  column-gap: 12%;
  justify-content: center;
  flex-wrap: wrap;
}

#titre {
  font-size: 2.2em;
  font-weight: 400;
  color: #901c1c;
  text-align: right;
  position: absolute;
  top: 0.6em;
  right: 1%;
}

.cartePhotographe {
  text-align: center;
  margin-bottom: 3rem;
}

figcaption {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}
figcaption blockquote {
  font-weight: 800;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}
figcaption p {
  color: gray;
  font-size: 0.5rem;
  margin-bottom: 0.5rem;
}
figcaption .filtresPhotographes {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

h2 {
  font-weight: 400;
  font-size: 2.2rem;
  color: #d3573c;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 0.8rem;
  color: #901c1c;
  margin-bottom: 0.4rem;
}

.photoProfil {
  border-radius: 50%;
  box-shadow: 0px 5px 25px grey;
  cursor: pointer;
  width: 12em;
  height: 12em;
  object-fit: cover;
  margin-bottom: 30px;
}
.photoProfil:hover {
  transform: scale(1.1);
  transition: 400ms;
}

/* Début modale */
#modaleContact {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
#modaleContact form {
  height: auto;
  width: 675px;
  background-color: #D3573C;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  top: 115px;
  right: 160px;
  border-radius: 5px;
  box-shadow: 4px 17px 20px 1px black;
}

/* Fin modale */

/*# sourceMappingURL=style.css.map */
