@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  cursor: default;
}

a {
  color: black;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

#modal-btn {
  background-color: #901c1c;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-left: 2rem;
  height: 2rem;
  font-family: "DM sans";
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2rem 1rem;
  position: absolute;
  top: 13rem;
  left: 40%;
}
#modal-btn:hover {
  background-color: #d3573c;
  color: black;
}

.btn-submit {
  background-color: #901c1c;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "DM sans";
  font-size: 1.2rem;
  width: 170px;
  height: 69px;
  margin-top: 1rem;
}
.btn-submit:hover {
  color: black;
  background-color: #d3573c;
}

.centrageBouton {
  margin: auto;
  text-align: center;
}

/* Croix fermeture modale : début */
#close {
  color: white;
  position: absolute;
  right: 2.5rem;
  top: 1.5rem;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

#close:before,
#close:after {
  position: absolute;
  left: 15px;
  content: "";
  height: 5rem;
  width: 8px;
  background-color: white;
}

#close:before {
  transform: rotate(45deg);
}

#close:after {
  transform: rotate(-45deg);
}

/* Croix fermeture modale : fin */
:root {
  --ajoutRem: 3.9rem;
  --couleurChevron: #fff;
  --couleurFondChevron: #901c1c;
}

*:focus {
  outline-color: black;
  outline-width: 1px;
  outline-style: solid;
}

body {
  align-items: center;
  font-family: "DM Sans", sans-serif;
  margin: auto;
  position: relative;
  width: 1200px;
}

#retourMain {
  color: black;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  position: fixed;
  background-color: #d3573c;
  padding: 5px 7px;
  border-radius: 5px;
  top: 5%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  z-index: 100;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
  width: 80%;
  height: 5em;
}

#logoFisheye {
  width: 12em;
}

#filtres {
  width: 100%;
  align-items: center;
  text-align: center;
}

.spanFiltres {
  border-radius: 1em;
  padding: 0.3em;
  color: #901c1c;
  border: 1px solid lightgray;
  font-weight: bolder;
  font-size: 0.7rem;
  cursor: pointer;
}
.spanFiltres:hover {
  border: 1px solid #555;
}

#main {
  margin-top: 2rem;
  columns: 3;
  column-gap: 12%;
  justify-content: center;
  flex-wrap: wrap;
}

#titre {
  font-size: 2.2em;
  font-weight: 400;
  color: #901c1c;
  text-align: right;
  position: absolute;
  top: 0.6em;
  right: 1%;
}
#titre:hover {
  cursor: pointer;
}

#trier {
  font-size: 1.1rem;
  font-weight: bold;
}
#trier label {
  position: relative;
  bottom: 1.5rem;
}
#trier .faux-select {
  list-style-type: none;
  padding: 1.5rem 0;
  padding-bottom: 1.5rem;
  background-color: #901c1c;
  color: white;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 1.5rem;
  width: 10.5rem;
  display: inline-block;
  position: relative;
  user-select: none;
  z-index: 1;
  outline-offset: 5px;
}
#trier .faux-select span {
  outline-offset: -10px;
}
#trier .faux-select span:hover {
  outline: none;
}
#trier .faux-select li {
  padding: 0;
  text-indent: 1em;
  position: relative;
  z-index: 3;
  outline-offset: -10px;
}
#trier .faux-select li .options {
  display: block;
  box-shadow: 0px 5px 10px grey;
  border-radius: 0 0 5px 5px;
  list-style-type: none;
  padding: 0;
  margin: 0.8rem 0 0 0.2rem;
  background: transparent;
  position: absolute;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  top: 1.2em;
  left: -0.17em;
  transition: all ease 0.25s;
}
#trier .faux-select li .options li {
  padding: 1.4rem 0;
}
#trier .faux-select li .options li:hover {
  background: #d3573c;
}
#trier .faux-select li .options.open {
  background: #901c1c;
  max-height: 850%;
}
#trier .faux-select .testDiv {
  height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  position: absolute;
  top: -1rem;
  border-radius: 5px 5px 0px 0px;
  z-index: -1;
}
#trier .faux-select .testDiv :hover {
  background: #d3573c;
}
#trier .faux-select .testDiv span {
  padding: 1.3rem;
  padding-bottom: 1.25rem;
  margin-left: -2.1rem;
  padding-right: calc(var(--ajoutRem));
  border-radius: 5px 5px 5px 5px;
}
#trier .borderBottom:before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0;
  height: 15px;
  width: 87%;
  border-bottom: 1px solid white;
}
#trier .borderTop:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  height: 15px;
  width: 87%;
  border-top: 1px solid white;
}
#trier .chevron,
#trier .chevronOpen {
  display: block;
  height: 15px;
  /* hauteur ~2x l'épaisseur */
}
#trier .chevron::before,
#trier .chevron::after,
#trier .chevronOpen::before,
#trier .chevronOpen::after {
  width: 0;
  height: 0;
  position: absolute;
  float: right;
  right: 1rem;
  display: block;
  content: "";
  border: 10px solid transparent;
  /* Taille du chevron */
}
#trier .chevron::before {
  top: 0;
  border-top-color: var(--couleurChevron);
}
#trier .chevron::after {
  top: -4px;
  border-top-color: var(--couleurFondChevron);
}
#trier .chevronOpen::before {
  top: -10px;
  border-bottom-color: var(--couleurChevron);
}
#trier .chevronOpen::after {
  top: -6px;
  border-bottom-color: var(--couleurFondChevron);
}

.cartePhotographe {
  text-align: center;
  margin-bottom: 3rem;
  cursor: pointer;
}
.cartePhotographe h2 {
  font-weight: 400;
  font-size: 2.2rem;
  color: #d3573c;
  margin-bottom: 0.5rem;
}
.cartePhotographe h3 {
  font-family: "DM sans";
  font-size: 0.77rem;
  font-weight: 500;
  color: #901c1c;
  margin-bottom: 0.4rem;
}
.cartePhotographe blockquote {
  font-size: 0.65em;
  margin-bottom: 0.4rem;
}
.cartePhotographe p {
  font-size: 0.6rem;
  color: gray;
  margin-bottom: 0.5rem;
}

.filtresPhotographes {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

#carteBiographie {
  background-color: #fafafa;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 4rem 3rem;
  padding-bottom: 3rem;
}
#carteBiographie #blocBioContact {
  display: flex;
  flex-direction: row;
}
#carteBiographie #blocBioContact h2 {
  font-weight: 400;
  font-size: 4rem;
  color: #d3573c;
  margin-bottom: 0.8rem;
}
#carteBiographie #blocBioContact h3 {
  font-family: "DM sans";
  font-size: 1.5rem;
  font-weight: 500;
  color: #901c1c;
  margin-bottom: 1.2rem;
}
#carteBiographie #blocBioContact blockquote {
  font-size: 1.15em;
  color: #525252;
  margin-bottom: 1.5rem;
}
#carteBiographie #blocBioContact #filtresProfil .spanFiltres {
  margin-right: 0.5rem;
  font-size: 1.1rem;
  padding: 0 0.4rem;
}

.photoProfil {
  margin-top: 1rem;
  border-radius: 50%;
  box-shadow: 0px 5px 10px grey;
  cursor: pointer;
  height: 12em;
  width: 12em;
  object-fit: cover;
  transition: 400ms;
}
.photoProfil:hover {
  transform: scale(1.1);
  transition: 400ms;
}

#planchePhotos {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 75px;
  margin-top: 2rem;
}

.cartePhoto {
  position: relative;
  transition: all 0.4s;
}
.cartePhoto figcaption {
  margin-top: 1rem;
  margin-bottom: -2rem;
}
.cartePhoto figcaption p {
  color: #901c1c;
  font-size: 1.3rem;
  font-weight: 500;
}
.cartePhoto figcaption .coeurLikes {
  margin-left: 0.3rem;
  transition: transform 0.2s;
}
.cartePhoto figcaption .coeurLikes:hover {
  color: deeppink !important;
  transform: scale(1.2);
}
.cartePhoto img:hover, .cartePhoto img:focus {
  filter: drop-shadow(8px 8px 10px grey);
}

.play-icon {
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-image: url("/img/icones/video-solid.svg");
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  opacity: 0.7;
  padding: 0.4rem;
  z-index: 1;
  width: 10%;
}

.photoPlanche {
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  display: block;
  height: 350px;
  width: 350px;
}

.legendePhoto {
  color: #901c1c;
  display: flex;
  justify-content: space-between;
}
.legendePhoto .likes {
  display: flex;
}

/* fenêtre flottante compteur likes */
footer {
  align-items: center;
  display: flex;
  position: sticky;
  bottom: 0px;
  right: 0px;
  justify-content: space-around;
  background-color: #d3573c;
  color: black;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
  margin-left: 80%;
  padding: 1rem;
  z-index: 1;
  width: 26%;
}

/* Début modale contact */
#modaleContact {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
#modaleContact form {
  height: auto;
  width: 669px;
  height: 900px;
  background-color: #DB8876;
  display: flex;
  flex-direction: column;
  padding: 2.2rem;
  padding-top: 1.5rem;
  position: absolute;
  top: 115px;
  right: 160px;
  border-radius: 5px;
  box-shadow: 4px 17px 20px 1px black;
}
#modaleContact form .titreContact {
  font-size: 4rem;
  margin-bottom: 0.7rem;
}
#modaleContact form div {
  color: white;
}
#modaleContact form label {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}
#modaleContact form #nomContact {
  margin-bottom: 2rem;
}
#modaleContact form input,
#modaleContact form textarea {
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  padding: 0.9rem;
  margin-bottom: 0.5rem;
}
#modaleContact form textarea {
  resize: none;
}

.centrage {
  margin: auto;
  text-align: center;
  padding-top: 50%;
}

#pFinal {
  font-size: 2.2rem;
  margin-top: 50%;
}

/* Fin modale contact */
/* Début modale Lightbox */
.icone {
  height: 2rem;
  width: 2rem;
  transition: transform 0.2s;
}
.icone:hover {
  transform: scale(1.2);
}

#modaleLightBox {
  display: none;
  background-color: white;
  position: absolute;
  width: 1253px;
}
#modaleLightBox #lbxFermeture {
  cursor: pointer;
  position: absolute;
  top: 120px;
  right: 2rem;
}
#modaleLightBox #lbxFermeture img {
  height: 2.5rem;
  width: 2.5rem;
}
#modaleLightBox #lbxPrecedent {
  cursor: pointer;
  position: absolute;
  top: 550px;
  left: 2rem;
}
#modaleLightBox #lbxSuivant {
  cursor: pointer;
  position: absolute;
  top: 550px;
  right: 2rem;
}
#modaleLightBox p {
  color: #901c1c;
  margin-left: 100px;
  margin-top: 1rem;
  font-size: 1.45rem;
  font-weight: 500;
  width: 30rem;
}

.diapo {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 0 2.6px;
  margin-top: 100px;
  margin-left: 100px;
  object-fit: cover;
  width: 1050px;
  height: 900px;
}

/* Fin modale lightbox */
@media screen and (max-width: 375px) {
  body {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }

  header {
    margin-bottom: 2rem;
  }

  #logoFisheye {
    margin-left: 1em;
    margin-top: 2.5em;
    width: 9.5em;
  }

  #titre {
    font-size: 0.85em;
    text-align: right;
    position: absolute;
    top: 4em;
    right: 1em;
  }

  #filtres {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    margin-top: 10em;
    padding: 3em;
  }

  .spanFiltres {
    margin-top: 1em;
  }

  #main {
    margin-top: 6.5em;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
  }

  #conteneurPage {
    padding-bottom: 5rem;
  }

  #modal-btn {
    display: flex;
    justify-content: center;
    width: 12rem;
    height: 2.5rem;
    margin-bottom: 10%;
    padding: 5px 10px 5px 10px;
    position: fixed;
    top: unset;
    bottom: 0;
    left: 15%;
    z-index: 1;
  }

  .cartePhotographe {
    margin-bottom: 1em;
  }

  #carteBiographie {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 1rem;
    padding-bottom: 0rem;
  }
  #carteBiographie #blocBioContact {
    display: flex;
    flex-direction: row;
  }
  #carteBiographie #blocBioContact h2 {
    font-weight: 400;
    font-size: 2.2rem;
    color: #d3573c;
    margin-bottom: 0.4rem;
  }
  #carteBiographie #blocBioContact h3 {
    font-family: "DM sans";
    font-size: 1.1rem;
    font-weight: 500;
    color: #901c1c;
    margin-bottom: 0.6rem;
  }
  #carteBiographie #blocBioContact blockquote {
    font-size: 0.8em;
    color: #525252;
    margin-bottom: 0.8rem;
  }
  #carteBiographie #blocBioContact #filtresProfil .spanFiltres {
    margin-right: 0.5rem;
    font-size: 0.75rem;
    padding: 0 0.2rem;
  }
  #carteBiographie .photoProfil {
    position: absolute;
    right: 1rem;
    top: 5rem;
    height: 6.5rem;
    width: 6.5rem;
  }

  #planchePhotos {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cartePhoto {
    transition: all 0.4s;
  }
  .cartePhoto figcaption {
    margin-bottom: -3.5rem;
  }
  .cartePhoto figcaption p {
    color: #901c1c;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .cartePhoto figcaption .coeurLikes {
    margin-left: 0.3rem;
    transition: transform 0.2s;
  }
  .cartePhoto figcaption .coeurLikes:hover {
    color: deeppink !important;
    transform: scale(1.2);
  }
  .cartePhoto .photoPlanche {
    width: 21.4rem;
    height: 11.8rem;
  }
  .cartePhoto .photoPlanche:hover, .cartePhoto .photoPlanche:focus {
    filter: drop-shadow(8px 8px 10px grey);
  }

  #trier,
footer {
    display: none;
  }

  /* Début modale contact */
  #modaleContact {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    /* Croix fermeture modale : début */
    /* Croix fermeture modale : fin */
  }
  #modaleContact form {
    height: auto;
    width: 375px;
    height: 812px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 2rem;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 5px;
    box-shadow: 4px 17px 20px 1px black;
  }
  #modaleContact form .titreContact {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
  }
  #modaleContact form div {
    color: white;
  }
  #modaleContact form label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  #modaleContact form #nomContact {
    margin-bottom: 2rem;
  }
  #modaleContact form input,
#modaleContact form textarea {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    padding: 0.9rem;
    margin-bottom: 0.5rem;
  }
  #modaleContact form textarea {
    resize: none;
  }
  #modaleContact .btn-submit {
    background-color: #901c1c;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "DM sans";
    font-size: 1.2rem;
    width: 50%;
    height: 2.5rem;
    margin-top: 1rem;
    margin-left: 25%;
  }
  #modaleContact #close {
    color: white;
    position: absolute;
    right: 1.5rem;
    top: 2rem;
    width: 1rem;
    height: 1rem;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
  }
  #modaleContact #close:before,
#modaleContact #close:after {
    position: absolute;
    left: 15px;
    content: "";
    height: 2rem;
    width: 4px;
    background-color: white;
  }
  #modaleContact #close:before {
    transform: rotate(45deg);
  }
  #modaleContact #close:after {
    transform: rotate(-45deg);
  }

  .centrage {
    margin: auto;
    text-align: center;
    padding-top: 50%;
  }

  #pFinal {
    font-size: 2.2rem;
    margin-top: 50%;
  }

  /* Fin modale contact */
  /* Début modale Lightbox */
  .icone {
    height: 0.5rem;
    width: 0.5rem;
  }

  #modaleLightBox {
    display: none;
    background-color: white;
    width: 375px;
  }
  #modaleLightBox #lbxFermeture {
    cursor: pointer;
    top: 230px;
    right: 1.8rem;
  }
  #modaleLightBox #lbxFermeture img {
    height: 0.7rem;
    width: 0.7rem;
  }
  #modaleLightBox #lbxPrecedent {
    cursor: pointer;
    top: 350px;
    left: 1.8rem;
  }
  #modaleLightBox #lbxSuivant {
    cursor: pointer;
    top: 350px;
    right: 1.8rem;
  }
  #modaleLightBox p {
    color: #901c1c;
    margin-left: 12%;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    width: 20rem;
  }

  .diapo {
    border-radius: 5px;
    box-shadow: unset;
    margin-top: 60%;
    margin-left: 12%;
    object-fit: cover;
    width: 289px;
    height: 248px;
  }

  /* Fin modale lightbox */
}

/*# sourceMappingURL=style.css.map */
