#modal-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  height: 2rem;
  background-color: $couleurPrimaire;
  border-radius: 5px;
  color: white;
  border: none;
  font-family: "DM sans";
  font-size: 1rem;
  font-weight: bold;
  padding: 28px 10px 28px 10px;

  &:hover {
    background-color: $couleurSecondaire;
    color: black;
  }
}

/* Croix fermeture modale : début */
#close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(.7);
  }
  #close:hover {
    background-color: red;
    border-radius: 4px;
  }
  #close:before,
  #close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: blue;
  }
  #close:before {
    transform: rotate(45deg);
  }
  #close:after {
    transform: rotate(-45deg);
  }
  /* Croix fermeture modale : fin */